.section{
    background: url("/img/sale_bg.png") no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment:fixed;
    // height: 1080px;
    padding-bottom: 50px;
}