.topnav {
    display: flex;
    justify-content: center;
    background-color: #000;
    height: 55px;
    position: sticky;
    top: 0px;
    z-index: 99;
}
.wrap {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}
.item {
    display: flex;
    align-items: center;
    width: 250px;
    cursor: pointer;
}
.item:first-child{
    width: 260px;
    justify-content: end;
}
.ico{
    margin-right: 15px;
}

.text {
    font-size: 18px;
    line-height: 21px;
    color: #fff;
}
.btn{
    font-size: 16px;
    line-height: 19px;
    background-color: transparent;
    color: #fff;
    padding: 7px 23px;
    border: 2px solid #fff;
    border-radius: 50px;
    margin: 0 40px;
    cursor: pointer;
    &:hover{
        background-color: #B4FFA8;
        color: #000;
        transition: .5s;
    }
}
// @media screen and (min-width: 1900px) {
//     .topnav {
//         // margin-bottom: 40px;
//     }
// }

@media screen and (max-width: 768px) {
    .wrap {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .item {
        display: flex;
        align-items: center;
        width: 100%;
    }
    .item:first-child{
        width: 100%;
        padding: 0;
    }
    .item.desktop {
        display: none;
    }
    
    .ico{
        margin-right: 15px;
        width: 23px;
    }
    
    .text {
        font-size: 16px;
        line-height: 19px;
    }
    .btn{
        font-size: 14px;
        line-height: 17px;
        padding: 7px 23px;
        margin: 0;
    }
}
@media screen and (max-width: 480px) {
    .ico{
        margin-right: 10px;
        width: 20px;
    }
    .text {
        font-size: 14px;
        line-height: 17px;
    }
    .btn{
        font-size: 14px;
        line-height: 17px;
        padding: 7px 10px;
        margin: 0 0 0 0;
    }
}
