.list{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(360px, 1fr));
    grid-gap: 15px;
    justify-items: center;
    padding: 65px 0 85px;
}
// @media screen and (max-width: 768px) {
//     .list{
//         padding: 100px 0;
//     }
// }
// @media screen and (max-width: 480px) {
//     .list{
//         padding: 50px 0;
//     }
// }