.list {
    background-color: #fff;
    margin-top: 65px;
    // margin-bottom: 65px;
    // height: 1080px;
    // overflow-y: scroll;
}
.listItems {
    display: flex;
}
.item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 20px;
}
.itemIco {
    img {
        width: 20px;
        // height: 20px;
    }
}
.itemText {
    font-size: 18px;
    font-weight: bold;
}
