.section {
    background: url("/img/title_bg.png") no-repeat;
    background-size: cover;

    // background-color: rgb(231, 161, 31);
    // background-size: 100% 100%;
    // background-size: contain;
    // background-position: 100% 100%;
    // background-position-x: center;
    // background-position-y: -140px;
    // height: 2079px;

    // background-attachment:fixed;
    padding-top: 20px;
    // padding-bottom: 100px;
}
.nav {
    background: url("/img/nav_bg.png") no-repeat;
    background-size: cover;
    background-position: center;
    height: 164px;
}

.navWrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.circle {
    width: 155px;
    height: 164px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.link {
    text-transform: uppercase;
    font-size: 20px;
    line-height: 21px;
    color: #fff;
    padding: 0 50px;
    position: relative;
    &:before{
        content: '';        
        display: block;
        width: 0%;
        height: 2px;
        background-color: #B4FFA8;
        position: absolute;
        top: -5px;
        left: 50px;
        transition: all 0.3s;
    }
    &:after{
        content: '';        
        display: block;
        width: 0%;
        height: 2px;
        background-color: #B4FFA8;
        position: absolute;
        bottom: -5px;
        right: 50px;
        transition: all 0.3s;
    }
    &:hover{
        color: #B4FFA8;
        &:before, &:after{
            width: 25%;
            transition: all 0.7s;
        }
        
    }
}
.titleText{
    font-size: 48px;
    line-height: 150px;
    color: #fff;
    text-transform: uppercase;
    text-align: center;
    padding-top: 65px;
    margin-bottom: 220px;
}
// @media screen and (min-width: 2210px) {
//     .section {
//         background-size: cover;
//         background-position: 0 0px;
//         height: 1179px;
//     }    
// }
// @media screen and (min-width: 1900px) {
//     .section {
//         background-size: cover;
//         background-position: 0 -220px;
//         height: 980px;
//     }    
// }
@media screen and (max-width: 1200px) {
    .titleText{
        font-size: 44px;
        line-height: 130px;
        // padding-top: 65px;
        // margin-bottom: 275px;
    }    
}
@media screen and (max-width: 1024px) {
    .titleText{
        font-size: 40px;
        // padding-top: 65px;
        // margin-bottom: 275px;
    }    
}
@media screen and (max-width: 939px) {
    .titleText{
        font-size: 40px;
        // padding-top: 65px;
        margin-bottom: 200px;
    }    
}
@media screen and (max-width: 768px) {
    .link {
        font-size: 20px;
        line-height: 21px;
        padding: 0 30px;
        &:before{
            left: 30px;
        }
        &:after{
            right: 30px;
            transition: all 0.3s;
        }
        &:hover{
            &:before, &:after{
                width: 25%;
            }
        }
    }   
    .titleText{
        font-size: 32px;
        line-height: 110px;
        // padding-top: 65px;
        margin-bottom: 150px;
    } 
}
@media screen and (max-width: 480px) {  
    .titleText{
        font-size: 28px;
        line-height: 100px;
        // padding-top: 65px;
        // margin-bottom: 275px;
    } 
}
@media screen and (max-width: 440px) {
    .link {
        font-size: 18px;
        padding: 0 0px;
        &:before{
            left: 0px;
        }
        &:after{
            right: 0px;
            transition: all 0.3s;
        }
        &:hover{
            &:before, &:after{
                width: 50%;
            }
        }
    }    
}

@media screen and (max-width: 400px) {  
    .titleText{
        font-size: 24px;
        line-height: 60px;
        padding-top: 100px;
        // margin-bottom: 275px;
    } 
}
@media screen and (max-width: 400px) {  
    .titleText{
        font-size: 22px;
        line-height: 60px;
        padding-top: 80px;
        // margin-bottom: 275px;
    } 
}