// .photo{
    // max-width: 440px;
// }
.mainPhoto {
    margin-bottom: 20px;
    width: 100%;
    // height: 360px;
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
        cursor: pointer;
    }
}
.smallPhotoList {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    overflow: hidden;
    img {
        // border: 1px solid #000;
        cursor: pointer;
    }
}
.smallPhoto {
    margin-right: 5px;
    margin-bottom: 0px !important;
    border: 2px solid transparent;
    // border: 1px solid transparent;
    transition: all .5s;
    span{
        height: 100% !important;
    }
    img {
        display: block;
        // width: 80px;
        // height: 80px;
    }
    &:hover{
        border: 2px solid #000;
    }
}

.popup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    z-index: 100;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;

    // pointer-events = none  - чтобы модальное окно не перекравала основную страницу
    pointer-events: none;
    transition: 0.5s;
}
.popup.active {
    opacity: 1;

    // pointer-events = all  - чтобы модальное окно было кликабельным
    pointer-events: all;
}
// .content {
//     width: 100%;
//     height: 100%;
//     // padding: 20px;
//     display: flex;
//     flex-direction: column;
//     justify-content: flex-end;
//     align-items: center;
//     padding-bottom: 50px;
//     background-color: rgb(39, 39, 39);
//     transform: scale(0.5);
//     transition: 0.2s;
// }
.content {
    width: 100%;
    height: 100%;
    // padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    padding-bottom: 50px;
    background-color: rgb(39, 39, 39);
    transform: scale(0.5);
    transition: 0.2s;
}
.content.active {
    transform: scale(1);
}
// .popupBigPhoto {
//     // width: 1200px;
//     height: 84vh;
//     margin-bottom: 30px;
//     cursor: pointer;
//     img {
//         max-width: 100%;
//         max-height: 100%;
//         object-fit: cover;
//     }
// }
.popupBigPhoto {
    // width: 1200px;
    height: 84vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
    padding-left: 10px;
    padding-right: 10px;
    cursor: pointer;
    img {
        max-width: 100%;
        max-height: 100%;
        object-fit: cover;
    }
}
// .popupSmallPhotoList {
//     display: flex;
// }
.popupSmallPhotoList {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
}

.popupSmallPhoto {
    margin-right: 15px;
    margin-bottom: 15px;
    border-radius: 10px;
    cursor: pointer;
    & span{
        transition: .3s;
    }
    transition: .5s;
    
    img {
        width: 80px;
        height: 80px;
        
    }
    & span:hover{
        transform: scale(1.07);
        
        // border-radius: 10px;
    }
    
}

.closeBtn {
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 26px;
    color: #fff;
    background-color: rgb(119, 118, 118);
    position: absolute;
    top: 50px;
    right: 30px;
    z-index: 999;
    border-radius: 50%;
    cursor: pointer;
    &:hover {
        color: #000;
        background-color: rgb(204, 203, 203);
    }
}

@media screen and (max-width: 480px) {
    .closeBtn {
        width: 34px;
        height: 34px;
        font-size: 22px;
        top: 40px;
        right: 20px;
    }
}

@media screen and (max-width: 380px) {
    .closeBtn {
        width: 30px;
        height: 30px;
        font-size: 20px;
        top: 35px;
        right: 10px;
    }
}